@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	max-width: 1440px;
	margin: 0 auto;
}


.header {
	position: relative;
	grid-row: 1/2;
	&>img {
		width: 100%;
		height: auto;
		object-fit: cover;
		max-height: 800px;
	}
		&__container-head {
			opacity: 0.94;
			background-color: #455469;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 50px 200px 0px 140px;
		}	
		&__block-menu {
			display: flex;
			justify-content: space-between;
			padding: 0px 0px 0px 60px;
			margin: 0px 0px 150px 0px;
		}
		&__block-menu-logo {
			font-family: Roboto;
			font-size: 33px;
			color: #efefef;
			position: relative;
			&:after {
				position: absolute;
				top: -1px;
				left: -70px;
				content: '';
				width: 19.6px;
				height: 38px;
				background-color: #57b287;
				border-radius: 100% 0 0 100% / 50% 0 0 50%;
			}
			&:before {
				position: absolute;
				top: -1px;
				left: -51px;
				content: '';
				width: 19.6px;
				height: 38px;
				background-color: #67bf95;
				border-radius: 0 100% 100% 0 / 0 50% 50% 0;
			}
		}
		&__block-menu-login {
			display: flex;
			align-items: center;
		}
		&__block-menu-login-signature {
			font-family: Roboto;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 100;
			font-style: italic;
			color: #c9ced7;
			margin: 0px 25px 0px 0px;
		}
		&__block-menu-login-button {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 15px;
			line-height: 1.2;
			color: #cad1db;
			width: 68px;
			height: 31px;
			background-color: #3d4b60;
		}
		&__block-content {
			display: flex;
		}
		&__block-content-text {
			margin: 0px 130px 0px 0px;
		}
		&__block-content-text-title {
			font-family: 'Roboto Slab';
			font-size: 38px;
			
			color: #fff;
			margin: 0px 0px 40px 0px;
		}
		&__block-content-text-info {
			font-family: Roboto;
			font-size: 18px;
			line-height: 1.7;
			color: #c5d2e5;
			max-width: 440px;
			margin: 0px 0px 50px 0px;
		}
		&__block-content-text-readmore {
			width: 200px;
			height: 60px;
			background-color: #67bf95;
			font-family: Roboto;
			font-size: 28px;
			color: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
		}
		&__block-content-logo {
			position: relative;
			&> img {
				max-width: 244px;
				width: 100%;
				height: auto;
				object-fit: cover;
			}
			&:after {
				content: '';
				position: absolute;
				top: 20%;
				left: 45%;
				background-color: #fff;
				border-radius: 50%;
				width: 22px;
				height: 22px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 20%;
				left: 60%;
				background-color: #fff;
				border-radius: 50%;
				width: 22px;
				height: 22px;
			}
			&>span {
				position: absolute;
				top: 20%;
				left: 75%;
				background-color: #fff;
				border-radius: 50%;
				width: 22px;
				height: 22px;
			}
		}
}
.body {
	grid-row: 2/3;
	min-height: 100%;
}
.block1 {
	padding: 79px 240px 108px 231px;
	display: flex;
	background-color: #f7f7f8;
		&__logo {
			margin: 0px 68px 0px 0px;
		}
		&__logo img{
			max-width: 187px;
			height: auto;
			object-fit: cover;
		}
		&__block-text {
			margin: 0px 90px 0px 0px;
		}
		&__block-text-title {
			font-family: 'Roboto Slab';
			font-size: 32px;
			line-height: 1.2;
			color: #37414e;
			margin: 43px 0px 26px 0px;
		}
		&__block-text-information {
			font-family: Roboto;
			font-size: 16px;
			line-height: 1.7;
			color: #4b596c;
			text-align: justify;
		}
		&__block-items {}
		&__block-item {
			width: 61px;
			height: 61px;
			border-radius: 50%;
			padding: 15px;
				&:first-child {
					background-color: #67bf95;
					& > img {
						object-fit: cover;
						height: auto;
						width: 100%;
					}
			margin: 45px 0px 43px 0px;
				}
				&:last-child {
					border: 1px solid #67bf95;
					& > img {
						object-fit: cover;
						height: auto;
						width: 50%;
						margin: 0px 0px 0px 7px;
					}
				}
		}
}

.block2 {
	background-color: #54af83;
	text-align: center;
	padding: 90px 50px 0px 50px;
		&__title {
			font-family: Roboto;
			font-size: 44px;
			font-weight: 500;
			color: #ffffff;
			margin: 0px 0px 15px 0px;
		}
		&__subtitle {
			font-family: Roboto;
			font-size: 24px;
			font-weight: 100;
			color: #ffffff;
			margin: 0px 0px 97px 0px;

		}
		&__container-body {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__container-body > img {
			max-width: 910px;
			height: auto;
			object-fit: cover;
		}
		&__first-item {
			width: 36px;
			height: 36px;
			border: 2px solid #b3dbc8;
			border-radius: 50%;
			position: relative;
			&:after {
				position: absolute;
				top: 12px;
				left: 8px;
				content: '';
				width: 12px;
				height: 1px;
				background-color: #fff;
				transform: rotate(-45deg);
			}
			&:before {
				position: absolute;
				bottom: 12px;
				left: 8px;
				content: '';
				width: 12px;
				height: 1px;
				background-color: #fff;
				transform: rotate(45deg);
			}
		}
		&__last-item {
			width: 36px;
			height: 36px;
			border: 2px solid #b3dbc8;
			border-radius: 50%;
			position: relative;
			&:after {
				position: absolute;
				top: 12px;
				left: 12px;
				content: '';
				width: 12px;
				height: 1px;
				background-color: #fff;
				transform: rotate(45deg);
			}
			&:before {
				position: absolute;
				bottom: 12px;
				left: 12px;
				content: '';
				width: 12px;
				height: 1px;
				background-color: #fff;
				transform: rotate(-45deg);
			}
		}
}

.block3 {
	padding: 128px 200px 130px 200px;
	background-color: #f7f7f8;
	position: relative;
		&__white-background {
			background-color: #fff;
			display: flex;
			flex: 0 0 auto;
			width: 910px;
			height: 88px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0%);
			border-radius: 0px 0px 10px 10px;
		}
		&__header {
			font-family: Roboto;
			text-align: center;
		}
		&__title {
			font-size: 35px;
			font-weight: 500;
			color: #37414e;
			margin: 0px 0px 25px 0px;
		}
		&__subtitle {
			font-size: 17px;
			color: #858b93;
			margin: 0px 150px 72px 150px;
			line-height: 34px;
		}
		&__items {
			display: flex;
			justify-content: center;
		}
		&__item {
			margin: 0px 63px 0px 0px;
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			align-items: center;
			min-width: 260px;
			&:last-child {
				margin: 0px;
			}
		}
		&__item-title {
			min-width: 100%;
			font-family: Roboto;
			font-size: 27px;
			font-weight: 500;
			color: #ffffff;
			padding: 25px 0px 20px 0px;
			text-align: center;
		}
		&__item-info {
			padding: 38px 0px 30px 0px;
			font-size: 24px;
			color: #6d737b;
			min-width: 100%;
			text-align: center;
			background-color: #e9eef3;
		}
		&__item-list {}
		&__item-list-item {
			margin: 0px 0px 45px 0px;
		}
		&__item-button {
			margin: 66px 0px 0px 0px;
			min-width: 260px;
			text-align: center;
			font-size: 27px;
			font-weight: 500;
			color: #ffffff;
			padding: 20px 0px 16px 0px;
		}
}
.item1 {
	& > .block3__item-info > ul > li:first-child {
		font-weight: 700;
		text-transform: uppercase;
		color: #6d737b;
	}
	& > .block3__item-button {
		background-color: #4b596c;
	}
	& > .block3__item-title {
		background-color: #4b596c;
	}
}
.item2 {
	position: relative;
	& > .block3__item-info > ul > li:first-child {
		font-weight: 700;
		text-transform: uppercase;
		color: #58ad52;
	}
	& > .block3__item-button {
		background-color: #58ad52;
	}
	& > .block3__item-title {
		background-color: #58ad52;
	}
	&:after {
		position: absolute;
		top: -20px;
		right: -20px;
		content: '';
		width: 48px;
		height: 48px;
		background-color: #f7ca52;
		border-radius: 50%;
		clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 38px;
		height: 38px;
		clip-path: polygon(57% 59%, 82% 11%, 91% 15%, 58% 73%, 29% 52%, 34% 44%);
		background-color: #fff;
		top: -12px;
		right: -12px;
	}
}
.item3 {
	& > .block3__item-info > ul > li:first-child {
		font-weight: 700;
		text-transform: uppercase;
		color: #52a1ad;
	}
	& > .block3__item-button {
		background-color: #52a1ad;
	}
	& > .block3__item-title {
		background-color: #52a1ad;
	}
}

.block4 {
	&__header {
		padding: 55px 260px 55px 260px;
		background-color: #eaebee;
	}
	&__title {
		font-size: 34px;
		font-weight: 700;
		color: #4b596c;
	}
	&__body {
		position: relative;
		& > img {
		width: 100%;
		height: auto;
		object-fit: cover;
		}
	}
	&__body-block {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		background-color: #d12828;
		opacity: 0.76;
		& > img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			width: 100%;
			height: auto;
			max-width: 120px;
			opacity: 1;
		}
		&:hover {
			opacity: 0.5;
		}
	}
}

.block5 {
	padding: 99px 200px 80px 200px;
	background-color: #303438;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
		&__logo {
			position: relative;
			min-width: 220px;
			min-height: 220px;
			border-radius: 50%;
			background-color: #be393b;
			border: 20px solid #383939;
			margin: 0px 0px 90px 0px;
		}
		&__logo > img {
			width: 100%;
			height: auto;
			object-fit: cover;
			max-width: 110px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&__form {
			display: flex;
			font-family: Roboto;
		}
		&__form-left {
			margin: 0px 100px 0px 0px;
		}
		&__form-name {}
		&__form-name-title {
			font-size: 24px;
			font-weight: 500;
			color: #d7d7d7;
			margin: 0px 0px 25px 0px;
			position: relative;
			&:after {
				content: '*';
				position: absolute;
				top: -60%;
				right: 80%;
				font-size: 34px;
				color: #be393b;
			}
		}
		&__form-name-input {
			& > input {
				width: 400px;
				height: 50px;
			}
			
		}
		&__form-mail {}
		&__form-mail-title {
			font-size: 24px;
			font-weight: 500;
			color: #d7d7d7;
			margin: 0px 0px 25px 0px;
			position: relative;
			&:after {
				content: '*';
				position: absolute;
				top: -60%;
				right: 80%;
				font-size: 34px;
				color: #be393b;
			}
		}
		&__form-mail-input {
			& > input {
				width: 400px;
				height: 50px;
			}
		}
		&__form-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		&__form-text {}
		&__form-text-title {
			font-size: 24px;
			font-weight: 500;
			color: #d7d7d7;
			margin: 0px 0px 25px 0px;
			position: relative;
			&:after {
				content: '*';
				position: absolute;
				top: -60%;
				right: 70%;
				font-size: 34px;
				color: #be393b;
			}
		}
		&__form-text-area {
			width: 400px;
			height: 220px;
		}
		&__form-button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 40px;
			background-color: #be393b;
			font-size: 24px;
			font-weight: 700;
			color: #ffffff;
			border-radius: 5px;
			&:hover {
				opacity: 0.9;
				cursor: pointer;
				box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
			}
		}
}

input, textarea {
	background: transparent;
	border: 1.5px solid rgba(255,255,255,0.51);
	opacity: 0.27;
	font-size: 20px;
	color: #d7d7d7;
	margin: 0px 0px 64px 0px;
	&:focus {
		border: 2px solid rgba(190,57,59,1);
	}
}

.footer {
	grid-row: 3/4;
	padding: 44px 210px 36px 320px;
	display: flex;
	align-items: center;
	background-color: #2a2d33;
		&__logo {
			position: relative;
			&:after {
				position: absolute;
				top: -20px;
				left: -70px;
				content: '';
				width: 19.6px;
				height: 38px;
				background-color: #57b287;
				border-radius: 100% 0 0 100% / 50% 0 0 50%;
			}
			&:before {
				position: absolute;
				top: -20px;
				left: -51px;
				content: '';
				width: 19.6px;
				height: 38px;
				background-color: #67bf95;
				border-radius: 0 100% 100% 0 / 0 50% 50% 0;
			}
		}
		&__website-name {
			margin: 0px 28px 0px 0px;
			font-family: Roboto;
			font-size: 23px;
			color: #efefef;
			position: relative;
				&:after {
					content: '';
					position: absolute;
					top: 10px;
					width: 30px;
					height: 3px;
					background-color: #fff;
					transform: rotate(90deg);

				}
		}
		&__designed {
			font-family: Roboto;
			font-size: 14px;
			font-weight: 500;
			color: #8d8d8d;
			margin: 0px 380px 0px 0px;
		}
		&__items {
			display: flex;
		}
		&__item {
			min-width: 50px;
			min-height: 50px;
			border: 2px solid #454648;
			border-radius: 50%;
			margin: 0px 40px 0px 0px;
			position: relative;
				& > img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					object-fit: cover;
					height: auto;
					width: 60%;
				}
				&:last-child {
					margin: 0;
				}
				&:last-child > img {
						width: 30%;
					}
		}
}
